/***** a css helper library *****/




/***** general section *****/

*{
	outline: none;
}

.no-resize{
	resize: none;
}

.no-box-shadow, .no-box-shadow:focus, .no-box-shadow:hover, .no-box-shadow:active{
	box-shadow: none;
	-webkit-box-shadow: none;
}

.max-width-100-percent{
	max-width: 100%;
}

@media(max-width: 767px){
	.max-width-100-percent-xs{
		max-width: 100%;
	}
}

.bg-transparent{
	background: transparent;
}

.bg-white{
	background: white;
}

.pointer-cursor{
	cursor: pointer;
}

.auto-width{
	width: auto;
}

.auto-height{
	height: auto;
}

.no-appearance{
	-webkit-appearance: none;
	-moz-appearance: none;
}

/***** end of general section *****/




/***** font size section *****/


/* 66px font size*/

.font-66-px{
	font-size: 66px;
}

/* 50px font size*/

.font-50-px{
	font-size: 50px;
}

/* 38px font size*/

.font-38-px{
	font-size: 38px;
}

/* 28px font size*/

.font-28-px{
	font-size: 28px;
}

/* 21px font size*/

.font-21-px{
	font-size: 21px;
}

/* 16px font size*/

.font-16-px{
	font-size: 16px;
}

/* 14px font size*/

.font-14-px{
	font-size: 14px;
}

/* 13px font size*/

.font-13-px{
	font-size: 13px;
}

/* 12px font size*/

.font-12-px{
	font-size: 12px;
}

/* 9px font size*/

.font-9-px{
	font-size: 9px;
}

/* font smoother class in chrome and mozilla browser */

.font-smoother{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/***** end of font size section *****/




/***** border radius section *****/

/* 2px border radius */

.border-radius-2-px{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/* 4px border radius */

.border-radius-4-px{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* 6px border radius */

.border-radius-6-px{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

/* 8px border radius */

.border-radius-8-px{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

/* rounded border */

.rounded-border{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

/***** end of border radius section *****/




/***** text align section *****/

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.text-justified{
	text-align: justify;
}

.text-center{
	text-align: center;
}

/* right aligned text in large devices */

@media(min-width: 1200px){
	.text-right-lg{
		text-align: right;
	}
}

/* right aligned text in medium devices */

@media(min-width: 992px) and (max-width: 1199px){
	.text-right-md{
		text-align: right;
	}
}

/* right aligned text in small devices */

@media(min-width: 768px) and (max-width: 991px){
	.text-right-sm{
		text-align: right;
	}
}

/* right aligned text in mobile devices */

@media(max-width: 767px){
	.text-right-xs{
		text-align: right;
	}
}

/* left aligned text in large devices */

@media(min-width: 1200px){
	.text-left-lg{
		text-align: left;
	}
}

/* left aligned text in medium devices */

@media(min-width: 992px) and (max-width: 1199px){
	.text-left-md{
		text-align: left;
	}
}

/* left aligned text in small devices */

@media(min-width: 768px) and (max-width: 991px){
	.text-left-sm{
		text-align: left;
	}
}

/* left aligned text in mobile devices */

@media(max-width: 767px){
	.text-left-xs{
		text-align: left;
	}
}

/* justified text in large devices */

@media(min-width: 1200px){
	.text-justified-lg{
		text-align: justify;
	}
}

/* justified aligned text in medium devices */

@media(min-width: 992px) and (max-width: 1199px){
	.text-justified-md{
		text-align: justify;
	}
}

/* justified aligned text in small devices */

@media(min-width: 768px) and (max-width: 991px){
	.text-justified-sm{
		text-align: justify;
	}
}

/* justified aligned text in mobile devices */

@media(max-width: 767px){
	.text-justified-xs{
		text-align: justify;
	}
}

/* center aligned text in large devices */

@media(min-width: 1200px){
	.text-center-lg{
		text-align: center;
	}
}

/* center aligned text in medium devices */

@media(min-width: 992px) and (max-width: 1199px){
	.text-center-md{
		text-align: center;
	}
}

/* center aligned text in small devices */

@media(min-width: 768px) and (max-width: 991px){
	.text-center-sm{
		text-align: center;
	}
}

/* center aligned text in mobile devices */

@media(max-width: 767px){
	.text-center-xs{
		text-align: center;
	}
}

/***** end of text align section *****/




/***** float section *****/

/* floating element in mobile devices */

@media(max-width: 767px){

	.float-left-xs{
		float: left;
	}

	.float-right-xs{
		float: left;
	}

	.float-left-xs-important{
		float: right!important;
	}

	.float-right-xs-important{
		float: right!important;
	}

	.no-float-xs{
		float: none;
	}

	.no-float-xs-important{
		float: none;
	}
}

/* floating element in small devices */

@media(min-width: 768px) and (max-width: 991px){

	.float-left-sm{
		float: left;
	}

	.float-right-sm{
		float: left;
	}

	.float-left-sm-important{
		float: right!important;
	}

	.float-right-sm-important{
		float: right!important;
	}

	.no-float-sm{
		float: none;
	}

	.no-float-sm-important{
		float: none;
	}
}

/* floating element in medium devices */

@media(min-width: 992px) and (max-width: 1199px){

	.float-left-md{
		float: left;
	}

	.float-right-md{
		float: left;
	}

	.float-left-md-important{
		float: right!important;
	}

	.float-right-md-important{
		float: right!important;
	}

	.no-float-md{
		float: none;
	}

	.no-float-md-important{
		float: none;
	}
}

/* floating element in large devices */

@media(min-width: 1200px){

	.float-left-lg{
		float: left;
	}

	.float-right-lg{
		float: left;
	}

	.float-left-lg-important{
		float: right!important;
	}

	.float-right-lg-important{
		float: right!important;
	}

	.no-float-lg{
		float: none;
	}

	.no-float-lg-important{
		float: none;
	}
}

/* no floating element across all devices*/

.no-float{
	float: none;
}

.no-float-important{
	float: none!important;
}

/***** end of float section *****/




/***** padding section *****/

.padding-left-0-px{
	padding-left: 0;
}

.padding-right-0-px{
	padding-right: 0;
}

.padding-left-right-0-px{
	padding-left: 0;
	padding-right: 0;
}

.padding-top-0-px{
	padding-top: 0;
}

.padding-bottom-0-px{
	padding-bottom: 0;
}

.padding-top-bottom-0-px{
	padding-top: 0;
	padding-bottom: 0;
}

.padding-0-px{
	padding: 0px;
}

.padding-top-5-px{
	padding-top: 5px;
}

.padding-top-10-px{
	padding-top: 10px;
}

.padding-top-15-px{
	padding-top: 15px;
}

.padding-top-20-px{
	padding-top: 20px;
}

.padding-top-25-px{
	padding-top: 25px;
}

.padding-top-30-px{
	padding-top: 30px;
}

.padding-bottom-5-px{
	padding-bottom: 5px;
}

.padding-bottom-10-px{
	padding-bottom: 10px;
}

.padding-bottom-15-px{
	padding-bottom: 15px;
}

.padding-bottom-20-px{
	padding-bottom: 20px;
}

.padding-bottom-25-px{
	padding-bottom: 25px;
}

.padding-bottom-30-px{
	padding-bottom: 30px;
}

.padding-left-5-px{
	padding-left: 5px;
}

.padding-left-10-px{
	padding-left: 10px;
}

.padding-left-15-px{
	padding-left: 15px;
}

.padding-left-20-px{
	padding-left: 20px;
}

.padding-left-25-px{
	padding-left: 25px;
}

.padding-left-30-px{
	padding-left: 30px;
}

.padding-right-5-px{
	padding-right: 5px;
}

.padding-right-10-px{
	padding-right: 10px;
}

.padding-right-15-px{
	padding-right: 15px;
}

.padding-right-20-px{
	padding-right: 20px;
}

.padding-right-25-px{
	padding-right: 25px;
}

.padding-right-30-px{
	padding-right: 30px;
}

/***** end of padding section *****/




/***** line height section *****/

.line-height-1{
	line-height: 1.1;
}

.line-height-1-point-2{
	line-height: 1.2;
}

.line-height-1-point-3{
	line-height: 1.3;
}

.line-height-1-point-4{
	line-height: 1.4;
}

.line-height-1-point-5{
	line-height: 1.5;
}

.line-height-1-point-6{
	line-height: 1.6;
}

.line-height-1-point-7{
	line-height: 1.7;
}

.line-height-1-point-8{
	line-height: 1.8;
}

/***** end of line height section *****/




/***** border section *****/

.transparent-border{
	border-color: transparent;
}

.no-border{
	border: none;
}

.no-right-border{
	border-right: none;
}

.no-left-border{
	border-left: none;
}

.no-top-border{
	border-top: none;
}

.no-bottom-border{
	border-bottom: none;
}

@media(min-width: 768px){

	.no-left-border-not-xs{
		border-left: none!important;
	}

	.no-right-border-not-xs{
		border-left: none!important;
	}

	.no-top-border-not-xs{
		border-top: none!important;
	}

	.no-bottom-border-not-xs{
		border-bottom: none!important;
	}
}

@media(max-width: 767px){

	.no-left-border-xs{
		border-left: none!important;
	}

	.no-right-border-xs{
		border-right: none!important;
	}

	.no-top-border-xs{
		border-top: none!important;
	}

	.no-bottom-border-xs{
		border-bottom: none!important;
	}
}

/***** end of border section *****/




/***** display section *****/

.flex-display{
	display: flex;
}

.no-display{
	display: none;
}

.inline-block{
	display:  inline-block;
}

/***** end of display section *****/




/***** margin section *****/

.auto-margin{
	margin: auto;
}

.auto-left-right-margin{
	margin-left: auto;
	margin-right: auto;
}

.margin-left-right-0{
	margin-left: 0;
	margin-right: 0;
}

.margin-top-bottom-0{
	margin-top: 0;
	margin-bottom: 0;
}

.margin-0{
	margin: 0;
}

/* top margin */

.margin-top-80-px{
	margin-top: 80px;
}

.margin-top-60-px{
	margin-top: 60px;
}

.margin-top-50-px{
	margin-top: 50px;
}

.margin-top-45-px{
	margin-top: 45px;
}

.margin-top-40-px{
	margin-top: 40px;
}

.margin-top-35-px{
	margin-top: 35px;
}

.margin-top-30-px{
	margin-top: 30px;
}

.margin-top-25-px{
	margin-top: 25px;
}

.margin-top-20-px{
	margin-top: 20px;
}

.margin-top-15-px{
	margin-top: 15px;
}

.margin-top-10-px{
	margin-top: 10px;
}

.margin-top-5-px{
	margin-top: 5px;
}

.margin-top-0{
	margin-top: 0;
}

/* bottom margin */

.margin-bottom-80-px{
	margin-bottom: 80px;
}

.margin-bottom-60-px{
	margin-bottom: 60px;
}

.margin-bottom-50-px{
	margin-bottom: 50px;
}

.margin-bottom-40-px{
	margin-bottom: 40px;
}

.margin-bottom-35-px{
	margin-bottom: 35px;
}

.margin-bottom-25-px{
	margin-bottom: 25px;
}

.margin-bottom-20-px{
	margin-bottom: 20px;
}

.margin-bottom-15-px{
	margin-bottom: 15px;
}

.margin-bottom-10-px{
	margin-bottom: 10px;
}

.margin-bottom-5-px{
	margin-bottom: 5px;
}

.margin-bottom-0{
	margin-bottom: 0;
}

/* right margin */

.margin-right-30-px{
	margin-right: 30px;
}

.margin-right-25-px{
	margin-right: 25px;
}

.margin-right-20-px{
	margin-right: 20px;
}

.margin-right-15-px{
	margin-right: 15px;
}

.margin-right-10-px{
	margin-right: 10px;
}

.margin-right-5-px{
	margin-right: 5px;
}

.margin-right-0{
	margin-right: 0;
}

/* left margin */

.margin-left-30-px{
	margin-left: 30px;
}

.margin-left-20-px{
	margin-left: 20px;
}

.margin-left-15-px{
	margin-left: 15px;
}

.margin-left-10-px{
	margin-left: 10px;
}

.margin-left-5-px{
	margin-left: 5px;
}

.margin-left-0{
	margin-left: 0;
}

.margin-left-minus-15{
	margin-left: -15px;
}

@media(max-width: 767px){

	.margin-left-15-xs{
		margin-left: 15px;
	}

	.margin-left-0-px-xs{
		margin-left: 0px;
	}

	.margin-left-minus-10-px-xs{
		margin-left: -10px;
	}

	.margin-left-minus-15-px-xs{
		margin-left: -15px;
	}

	.margin-left-minus-30-px-xs{
		margin-left: -30px;
	}
}

@media(min-width: 768px) and (max-width: 991px){
	.margin-left-0-sm{
		margin-left: 0px!important;
	}

	.margin-left-15-px-sm{
		margin-left: 15px;
	}

	.margin-left-minus-15-px-sm{
		margin-left: -15px;
	}
}

@media(min-width: 992px) and (max-width: 1199px){

	.margin-left-15-px-md{
		margin-left: 15px;
	}

	.margin-left-0-md{
		margin-left: 0px!important;
	}

	.margin-left-minus-15-px-md{
		margin-left: -15px;
	}
}

@media(min-width: 768px){
	.margin-left-minus-15-not-xs{
		margin-left: -15px;
	}
}

/***** margin section *****/
